@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");

@font-face {
  font-family: "Genericons";
  src: url("/portfolioV2/docs/css/fonts/genericons-regular-webfont.woff")
      format("woff"),
    url("/portfolioV2/docs/css/fonts/genericons-regular-webfont.eot")
      format("truetype");
}

body {
  font-family: "Raleway", sans-serif;
  height: 100vh;
  background: url("stars3.jpg") no-repeat center center / cover;
  color: #cb2d6f;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.logo a {
  text-decoration: none;
  font-style: none;
  font-size: 40px;
  font-weight: 550;
  color: #ccc;
  font-family: "Satisfy", cursive;
}

nav .nav-bar ul {
  display: flex;
  list-style: none;
  margin-top: 5px;
}

nav .nav-bar ul li a {
  text-decoration: none;
  margin-right: 20px;
  font-size: 24px;
  color: #14a098;
}

nav .nav-bar ul li a:hover {
  text-decoration: underline;
  margin-right: 20px;
  font-size: 24px;
  color: #cb2d6f;
  transition: 0.5s;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
  margin-top: 30vh;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 2rem;
  margin-top: 15vh;
}

h1,
h2 {
  font-weight: 300;
  margin: 0.4rem;
}

h1 {
  font-size: 3.8rem;
  text-shadow: 1px 1px 2px rgba(203, 45, 111, 0.7);
}

h2 {
  font-size: 2.2rem;
  color: #501f3a;
  font-weight: 500;
  font-style: italic;
  color: #ccc;
}

p {
  font-size: 1.3rem;
  font-weight: 600;
  color: #ccc;
}

.intro {
  color: #cb2d6f;
  font-style: normal;
  font-size: 2.8rem;
  opacity: 0.9;
  text-shadow: 1px 1px 1px rgba(203, 45, 111, 0.5);
}

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #777;
}

/* Contact btn */

.contact {
  margin-top: 35px;
}

.contact i {
  margin-left: 10px;
}
.contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  background: #14a098;
}

.effect1 {
  color: #14a098;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 28px;
  position: relative;
  padding: 10px 50px 10px 20px;
  font-weight: 500;
  cursor: pointer;

  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;

  -webkit-transform: scale(3);

  -ms-transform: scale(3);

  transform: scale(3); /*change scale(3) to scale(1)*/
}

.effect1 .bg {
  background: #14a098;
  width: 30px;
  height: 2px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1px;
  z-index: -1;
  border-radius: 3%;

  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;
}

.effect1:hover {
  padding-right: 20px;
  color: #000;
}

.effect1:hover .bg {
  height: 100%;
  width: 100%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.effect1 .bg:before,
.effect1 .bg:after {
  content: "";
  height: 2px;
  width: 10px;
  background: #14a098;
  position: absolute;
  right: -2px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.effect1 .bg:before {
  bottom: 3px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.effect1 .bg:after {
  top: 3px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.effect1:hover .bg:before,
.effect1:hover .bg:after {
  right: 0;
}

.effect1:hover .bg:before {
  bottom: 6px;
}

.effect1:hover .bg:after {
  top: 6px;
}

/* Social links */
.social {
  display: flex;
  /* padding-left: 2rem; */
  margin-top: 25px;
}

#social-media a {
  padding-right: 3rem;
}

#social-media .facebook-link i {
  color: #3b5998;
}

#social-media .facebook-link i:hover {
  color: #fff;
}

#social-media .twitter-link i {
  color: #33ccff;
}

#social-media .twitter-link i:hover {
  color: #fff;
}

#social-media .instagram-link i {
  color: #4e433c;
}

#social-media .instagram-link i:hover {
  color: #fff;
}

#social-media .codepen-link i {
  color: #443737;
}

#social-media .codepen-link i:hover {
  color: #fff;
}

#social-media .linkedin-link i {
  color: #4875b4;
}

#social-media .linkedin-link i:hover {
  color: #fff;
}

#social-media .github-link i {
  color: #333;
}

#social-media .github-link i:hover {
  color: #fff;
}

/* contact page */
.contact-container {
  margin: 0 auto;
  display: flex;
  text-align: left;
  justify-content: center;
  height: 100%;
  max-width: 75vw;
  margin-top: 1rem;
  opacity: 0.95;
  /* background-color: red; */
}

.contact-container form label {
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.contact-container form input {
  border: 1.5px solid #cb2d6f;
  border-radius: 3%;
  width: 450px;
  height: 40px;
  text-align: center;
  border-radius: 3em;
  outline: none;
}

.contact-container form textarea {
  border: 1.5px solid #cb2d6f;
  border-radius: 3%;
  width: 450px;
  border-radius: 3em;
  outline: none;
  text-align: center;
  font-family: sans-serif;
}

.contact-container form button {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  width: 70%;
  height: 45px;
  background: #14a098;
  border: 1.5px solid #cb2d6f;
  border-radius: 3em;
  color: #ccc;
  outline: none;
  font-size: 1.2rem;
}

.contact-container form button:hover {
  background: #cb2d6f;
  border: 1.5px solid #14a098;
  transition: 0.75s;
}

/* media queries */

/* @media (max-width: 1200px) {
  h1 {
    font-size: 5rem;
  }

  .about-container {
    margin-top: 2rem;
  }

  .slideshow-container {
    margin-top: 2vh;
  }

  .text h3 {
    font-size: 1rem;
  }
} */

@media (max-width: 800px) {
  h1 {
    font-size: 3rem;
  }

  .slideshow-container {
    margin-top: 5vh;
  }

  .text h3 {
    font-size: 1rem;
  }

  .contact-container {
    margin-top: 0.5rem;
  }

  .contact-container form label {
    text-align: center;
    display: block;
    margin-bottom: 5px;
    font-size: 1.2rem;
  }

  .contact-container form input {
    height: 30px;
  }

  .about-container {
    margin-top: 2rem;
  }

  .about-container .intro {
    font-size: 2rem;
  }

  #social-media a {
    padding-right: 2rem;
  }

  .container {
    margin-top: 20vh;
    padding: 0 1rem;
  }

  .slideshow-container {
    margin-top: 5vh;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }

  .text h3 {
    font-size: 1.2rem;
  }
  .text ul li {
    font-size: 1.2rem;
  }

  body {
    /* overflow: scroll; */
  }

  .slideshow-container {
    margin-top: 5vh;
  }

  .contact-container {
    margin-top: 0.3rem;
  }

  .contact-container form label {
    text-align: center;
    display: block;
    margin-bottom: 5px;
    font-size: 1.2rem;
  }

  .contact-container form input {
    height: 25px;
  }

  .about-container {
    margin-top: 1rem;
  }

  .about-container .intro {
    font-size: 1.8rem;
  }

  .about-container .about-me {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  #social-media a {
    padding-right: 1rem;
  }

  nav .logo a {
    font-size: 20px;
  }

  nav .nav-bar ul li a {
    font-size: 18px;
  }

  nav .nav-bar ul li a:hover {
    font-size: 20px;
  }

  .effect1 {
    font-size: 20px;
  }
}
